<div class="studies-container">
  <h2 class="section-title">{{ 'parcoursAcademic.title' | translate }}</h2>
  <p class="section-subtitle">{{ 'parcoursAcademic.subtitle' | translate }}</p>
  <div class="timeline">
    <!-- Ingénierie à ESPRIT -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content right">
        <h3>{{ 'parcoursAcademic.diplomeIngenieur' | translate }} <span class="year">{{ 'parcoursAcademic.yearIngenieur' | translate }}</span></h3>
        <p class="institution">{{ 'parcoursAcademic.institutionIngenieur' | translate }}</p>
        <p class="description">{{ 'parcoursAcademic.descriptionIngenieur' | translate }}</p>
      </div>
    </div>

    <!-- Technicien Supérieur à ISET Nabeul -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content left">
        <h3>{{ 'parcoursAcademic.diplomeTechnicien' | translate }} <span class="year">{{ 'parcoursAcademic.yearTechnicien' | translate }}</span></h3>
        <p class="institution">{{ 'parcoursAcademic.institutionTechnicien' | translate }}</p>
        <p class="description">{{ 'parcoursAcademic.descriptionTechnicien' | translate }}</p>
      </div>
    </div>

    <!-- Baccalauréat Technique -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content right">
        <h3>{{ 'parcoursAcademic.diplomeBaccalaureat' | translate }} <span class="year">{{ 'parcoursAcademic.yearBaccalaureat' | translate }}</span></h3>
        <p class="institution">{{ 'parcoursAcademic.institutionBaccalaureat' | translate }}</p>
        <p class="description">{{ 'parcoursAcademic.descriptionBaccalaureat' | translate }}</p>
      </div>
    </div>
  </div>
</div>
