/* You can add global styles to this file, and also import other style files */
/* Reset global */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
}

router-outlet {
  flex: 1; /* occupe tout l'espace disponible au dessus du footer */
}















#app-loader {
  position: fixed;
  inset: 0;
  background: #122960;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* container */
.loader-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
}

/* logo */
.logo-loader {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 48px;
  animation: pulse 1.4s ease-in-out infinite;
}

/* cercle animé */
.ring {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(52, 211, 153, 0.2);
  border-top-color: #56EF9F;
  animation: spin 1s linear infinite;
}

/* animations */
@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 0.9; }
  50% { transform: scale(1.08); opacity: 1; }
}
