/* You can add global styles to this file, and also import other style files */
/* Reset global */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
}

router-outlet {
  flex: 1; /* occupe tout l'espace disponible au dessus du footer */
}

/* ===== THEME COLORS ===== */
/* Light Theme (Default) */
body.light-theme {
  --bg-primary: #F3F7FF;
  --bg-secondary: #FFFFFF;
  --bg-dark: #122960;
  --text-primary: #1E1E1E;
  --text-secondary: #F3F7FF;
  --text-light: #F3F7FF;
  --accent-primary: #122960;
  --accent-secondary: #C0D0F5;
  --accent-tertiary: #56EF9F;
  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-bg: #e8f0fe;
  --text-gris:#4a5568;
}

/* Dark Theme */
body.dark-theme {
  --bg-primary: #0a0e27;
  --bg-secondary: #1a1f3a;
  --bg-dark: #050810;
  --text-primary: #F3F7FF;
  --text-secondary: #1E1E1E;
  --text-light: #F3F7FF;
  --accent-primary: #4d7bff;
  --accent-secondary: #2a3f6a;
  --accent-tertiary: #56EF9F;
  --border-color: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.5);
  --hover-bg: #122960;
  --text-gris:#F3F7FF;

}

/* Apply theme colors */
body.dark-theme {
  background: var(--bg-primary);
  color: var(--text-primary);
}

body.light-theme {
  background: var(--bg-primary);
  color: var(--text-primary);
}















#app-loader {
  position: fixed;
  inset: 0;
  background: #122960;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* container */
.loader-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
}

/* logo */
.logo-loader {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 48px;
  animation: pulse 1.4s ease-in-out infinite;
}

/* cercle animé */
.ring {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(52, 211, 153, 0.2);
  border-top-color: #56EF9F;
  animation: spin 1s linear infinite;
}

/* animations */
@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 0.9; }
  50% { transform: scale(1.08); opacity: 1; }
}
